/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
    height: auto;
    max-width: 100vw;
    background-color: #6f95ff;
    overflow-x: hidden;
    overflow: hidden;
}
html{
    max-width: 100vw;
    scroll-behavior: smooth;
}
ol {
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em;
    list-style: square;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
@font-face {
    font-family: geometria-extrabold;
    src: url("Geometria-ExtraBold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: geometria-light;
    src: url("Geometria-Light.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: geometria-normal;
    src: url("Geometria.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: geometria-medium;
    src: url("Geometria-Medium.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: Vollkorn;
    src: url("Vollkorn-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: Vollkorn;
    src: url("Vollkorn-Medium.ttf") format("truetype");
    font-display: swap;
    font-weight: bold;
}
main{
    max-width: 2000px;
    margin: auto;
    padding: 3vw 100px 0 100px;
    overflow: hidden;
}
h1 {
    font-family: geometria-medium, sans-serif;
    font-size: 4vw;
    text-indent: 1em;
    margin-bottom: 0.2em;
    color: #293168;
}
h2{
    font-family: geometria-medium, sans-serif;
    font-size: 3vw;
    text-indent: 4vw;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #293168;
}
p{
    font-family: Vollkorn, sans-serif;
    font-size: 1.5vw;
    text-indent: 1em;
    max-font-size: 30px;
    padding-top: 0.5em;
    line-height: 1.3em;
}
.inner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 2vw;
}
.inner:nth-of-type(n+2){
    margin-top: 2vw;
}
.text{
    flex-grow: 1;
    width: 55%;
    max-font-size: 30px;
}
.code:not(.code p){
    flex-grow: 1;
    width: 50%;
    background-color: #dbdae3;
    font-family: monospace;
    font-weight: 700;
    font-size: 1.3vw;
    margin-top: 1.5vw;
    transition-property: box-shadow;
    transition-duration: 0.5s;
}
.margin{
    margin-top: 3vw;
}
.codeBlock{
    width: auto;
    height: auto;
    padding: 1vw 0;
    background-color: #3b58ad;
    counter-reset: count 0;
    color: #dbdae3;
}
.codeSection{
    box-sizing: border-box;
    width: 80%;
    background-color: #32468c;
    margin: 0 5% 0 15%;
    padding: 0.3vw 8px 0.3vw 8px;
    position: relative;
    font-family: monospace;
    font-weight: 700;
    font-size: 1.3vw;
    transition-property: color;
    transition-duration: 0.4s;
}
[data-changeTarget]{
    transition-property: color;
    transition-duration: 0.4s;
}
.codeSection:before{
    content: counter(count);
    counter-increment: count;
    position: absolute;
    width: calc((0.15 / 0.8) * 100%);
    height: 100%;
    background-color:  #3b58ad;
    top: 0;
    left: calc((0.15 / 0.8) * -100%);
    text-align: center;
    line-height: 150%;
    font-size: inherit;
}
.screen{
    background-color: #dbdae3;
    color: #20264d;
    margin-top: 8px;
    min-height: 15vh;
    position: relative;
}
.game{
    display: flex;
    width: 100%;
    height: 6vw;
    margin: 3vw 0;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    max-font-size: 30px;
}
.game div{
    box-sizing: border-box;
    background-color: #3b58ad;
    border-radius: 1.5vw;
    border: solid #32468c 8px;
    flex-grow: 1;
    width: calc(100% - 8vw);
    height: 6vw;
    margin: 0 1vw;
    color: #dbdae3;
    display: flex;
    cursor: pointer;
    transition-property:background-color,color, transform ,background-color ,border, box-shadow;
    transition-duration: 0.4s;

}
.game div:hover{
    box-shadow: 0 0 8px 2px #3b58ad;
}
.game div p{
    padding: 0;
    text-indent: 0;
    font-weight: 700;
    font-family: monospace;
    font-size: 1.4vw;
    text-align: center;
    margin: auto;
}
.advice{
    position: absolute;
    height: 100vh;
    background-color: #6f95ff;
    width: 100vw;
    z-index: 100;
}
.advice .closeBar{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;

}
.advice .closeBar:before, .advice .closeBar:after{
    content:"";
    width: 15px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 32.5px;
    border-radius: 10px;
    transition-property: background-color;
    transition-duration: 0.7s;
    transition-delay: 0.1s;
}
.advice .closeBar:before{
    transform: rotate(45deg);
}
.advice .closeBar:after{
    transform: rotate(-45deg);
}
.advice .closeBar:hover:before, .advice .closeBar:hover:after{
    background-color: #32468c;
}
.advice > section{
    margin-top: 40px;
    display: flex;
}
.advice > h1{
    font-size: 5vw;
    padding-top: 30px;
    text-indent: 10vw;
}
.wrap{
    flex-wrap: wrap;
    height: 20vh;
    margin-top: calc(3vw - 2vh);
    margin-bottom: calc(3vw - 2vh);
    align-content: stretch;
    align-items: stretch;
}
.wrap > div{
    flex-basis: 40%;
    align-self: stretch;
    height: 10vh;
}
.center{
    align-self: center;
}
.test{
    position: relative;
}
.slideTest{
    height: inherit;
    transition-property: opacity, transform;
    transition-duration: 1s;
    position: absolute;
    left: 12.5%;
    width: 75%;
}
.success{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 6vh;
    right: 4vw;
    border-radius: 50%;
    z-index: -1;
}
.successIn{
    background-color: #6f95ff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    right: 12.5%;
    top: 12.5%;
    position: absolute;
    transform: rotate(45deg);
}
.animate{
    transition-delay: 0.25s;
    transition-property: background-color;
    transition-timing-function: linear;
    background-color: #3b58ad;
}
.animate .leftSide{
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transform: rotate(360deg);
}
.animate .rightSide{
    transition-property: z-index;
    transition-delay: 0.25s;
    transition-timing-function: linear;
    z-index: 0;
}
.rightSide{
    z-index: 3;
}
.fr{
    background-color: #3b58ad;
    position: absolute;
    left: 12px;
    height: 10px;
    top: 38px;
    width: 0;
}
.sc{
    background-color: #3b58ad;
    position: absolute;
    bottom: 22px;
    left: 32px;
    width: 10px;
    height: 0;
}
.animate .fr{
    transition-duration: 0.25s;
    transition-property: width;
    transition-timing-function: linear;
    width: 30px;
}
.animate .sc{
    transition-delay: 0.25s;
    transition-duration: 0.25s;
    transition-property: height;
    transition-timing-function: linear;
    height: 30px;
}
.slideTest > p{
    max-width: 85%;
    z-index: 10000;
}
.slideTest > h2{
    z-index: 100;
}
.test_5 .game > div{
    height: 6.5vw;
}
.test_5 .game{
    margin-top: calc(2vw - 3vh);
    margin-bottom: calc(2vw - 3vh);
}